#mainAboutFounder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerOfFounder {
    margin-top: 50px;
    width: 90%;
    text-align: center;
}

#containerOfFounder h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#educationOfFounder {
    width: 100%;
    padding-top: 20px;
    text-align: left;
}

#educationOfFounder h2 {
    color: #005BBC;
    font-family: Arial, Helvetica, sans-serif;
}




#techskills {
    padding-top: 20px;
    width: 100%;
    text-align: left;
}


#techskills h2 {
    color: #005BBC;
    font-family: Arial, Helvetica, sans-serif;
}




.projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    padding-bottom: 50px;

}

.project {
    width: 24%;
    height: 200px;
}


.project img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


@media(max-width:1100px) {
    .project {
        width: 30%;
    }
}

@media(max-width:900px) {
    .project {
        width: 35%;
    }
}

@media(max-width:700px) {
    .project {
        width: 40%;
        height: 180px;
    }
}


@media(max-width:600px) {
    .project {
        height: 160px;
    }
}


@media(max-width:500px) {
    .project {
        height: 130px;
    }
}

@media(max-width:400px) {
    .project {
        height: 110px;
        width: 44%;
    }
}













#personalProjects {
    width: 100%;
    text-align: left;
    margin-top: 100px;
}


#personalProjects h2 {
    color: #005BBC;
    font-family: Arial, Helvetica, sans-serif;
}