@keyframes ShowDesc {
    from {
        opacity: 0;
        transform: translateY(70px);

    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes ShowPhoto {
    from {
        opacity: 0;
        transform: translateX(70px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}