#mainBlog {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
}

#container {
    width: 90%;
}


#mainBlog h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;

}

#blogs {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.blog {
    width: 28%;
    height: 300px;
    cursor: pointer;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;

}


.blog img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 230px;
    transition: 0.4s;
}


.dateOfBlog {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background-color: #005BAA;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.blog:hover {
    img {
        transform: scale(1.04);
        transition: 0.4s;
    }
}

@media(max-width:1100px) {
    #blogs {
        flex-wrap: wrap;
    }

    .blog {
        width: 33%;
    }




}

@media(max-width:900px) {


    .blog {
        width: 37%;
    }
}

@media(max-width:800px) {


    .blog {
        width: 39%;
    }
}


@media(max-width:700px) {


    .blog {
        width: 45%;
    }
}


@media(max-width:600px) {


    .blog {
        width: 55%;
    }
}

@media(max-width:500px) {


    .blog {
        width: 65%;
    }
}

@media(max-width:400px) {


    .blog {
        width: 87%;
    }
}