#mainCompanies {
    width: 100%;
    min-height: 430px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding-bottom: 100px;
}

#container {
    width: 90%;
}

#headerOfCompanies {
    padding-top: 30px;
    color: #005BAA;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-slider {
    margin-top: 20px;
    overflow: hidden;
    width: 100%;
    background: white;
    padding: 20px 0;
}

.logo-track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
}

.logo-track img {
    width: 150px;
    margin: 0 40px;
    object-fit: contain;
}


#picDiv {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#picDiv img {
    width: 100%;
    filter: brightness(50%);
    height: 100%;
    object-fit: cover;
}


#textDiv {
    position: absolute;
    width: 700px;

    text-align: center;
}

#textDiv h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    line-height: 70px;
    font-size: 3rem;
}









@media(max-width:700px) {

    #textDiv h1 {
        font-size: 2rem;
    }

    #textDiv {
        width: 500px;

    }


}




@media(max-width:600px) {
    .logo-track img {
        width: 100px;
    }

    #textDiv {
        width: 500px;

    }



}


@media(max-width:500px) {

    #textDiv h1 {
        font-size: 1.5rem;
        line-height: 40px;
    }

    #textDiv {
        width: 400px;

    }
}



@media(max-width:400px) {
    .logo-track img {
        width: 80px;
    }

    #textDiv h1 {
        font-size: 1.4rem;
    }

    #textDiv {
        width: 250px;

    }

}