#mainMiddle {
    width: 100%;
    min-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


#topOfMiddle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;

}

#topOfMiddle h1 {
    color: #005BAA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
}

#topOfMiddle p {
    color: gray;
}























#infoMiddle-wrapper {
    width: 100%;
    display: flex;
    min-height: 400px;
    justify-content: center;
    align-items: center;

}

#infoMiddle {
    width: 43%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 15px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: -30px;
    z-index: 100;
}

#infoMiddle p {
    font-family: Arial, Helvetica, sans-serif;
}


#infoMiddle h3 {
    font-family: Arial, Helvetica, sans-serif;
}

#infoMiddle a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s;


}

#infoMiddle a:hover {
    color: blue;
    transition: 0.4s;
}






#middle-pic-wrapper {
    width: 53%;
    height: 370px;
}

#middle-pic-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}







@media(max-width:1200px) {

    #mainMiddle {
        padding-bottom: 60px;
    }

    #topOfMiddle {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    #infoMiddle-wrapper {
        position: relative;
    }

    #infoMiddle {
        position: absolute;
        width: 100%;
        margin-right: 0;
        padding: 0;
        gap: 1px;
    }

    #middle-pic-wrapper {
        width: 100%;
        height: 600px;
    }

    #infoMiddle a {
        align-self: center;
        padding: 20px;
    }

    #infoMiddle h3 {
        padding: 10px;
    }

    #infoMiddle p {
        padding: 10px;
    }

}

@media(max-width:900px) {
    #middle-pic-wrapper {
        height: 550px;
    }

}

@media(max-width:700px) {
    #infoMiddle {
        text-align: center;
        gap: 0;
    }
}






@media(max-width:600px) {

    #mainMiddle {
        padding-bottom: 150px;
    }

    #middle-pic-wrapper {
        height: 450px;
    }

    #infoMiddle {
        bottom: -100px;
    }

    #infoMiddle h3 {
        font-size: 1rem;
    }

}

@media(max-width:500px) {



    #middle-pic-wrapper {
        height: 300px;
    }

    #infoMiddle {
        bottom: -170px;
    }

    #infoMiddle h3 {
        font-size: 1rem;
    }

    #infoMiddle p {
        font-size: 0.8rem;
    }

}

@media(max-width:400px) {

    #topOfMiddle h1 {
        font-size: 2rem;
    }

    #container {
        gap: 5px;
    }



    #middle-pic-wrapper {
        height: 250px;
    }

    #infoMiddle {
        bottom: -170px;
    }

    #infoMiddle h3 {
        font-size: 0.9rem;
    }

    #infoMiddle p {
        font-size: 0.7rem;
    }

}