#servicesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 50px;
}




.service {
    width: 32%;
    min-height: 150px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s;
}

.service:hover {
    border: 1px solid blue;
    transition: 0.5s;
}

.service h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}


@media(max-width:1200px) {
    .services {
        flex-direction: column;
    }

    .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}