#mainServices {
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    background-color: #005BAA;
    padding-bottom: 50px;
}

#container {
    width: 90%;

}

#topOfServices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#topOfServices h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#ctaServices {
    width: 180px;
    height: 45px;
}












#servicesPart {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


#servicesButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.serviceBtn {
    width: 400px;
    height: 50px;
}













#rightPart-wrapper {
    display: flex;
    align-items: center;
}

#rightText {
    width: 410px;
    height: 220px;
    background-color: white;
    border-radius: 5px;
    margin-right: -30px;
    z-index: 100;
    animation: ShowDesc 0.8s;
}

#rightText h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

#rightText p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}


#rightPicture {
    width: 450px;
    height: 270px;
    background-color: white;
    border-radius: 5px;
    animation: ShowPhoto 0.8s;

}

#rightPicture img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}



@media(max-width:1200px) {

    #servicesButtons {
        display: none;
    }

    #servicesPart {
        flex-direction: column;
        gap: 180px;
    }

    #serviceOptions {
        display: block;
        background-color: white;
        border-radius: 10px;
    }

    #rightPart-wrapper {
        flex-direction: column-reverse;
        width: 100%;
        height: 600px;
    }

    #rightPicture {
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    #rightPicture img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    #rightText {
        width: 100%;
        margin-right: 0;
    }
}

@media(max-width:900px) {
    #servicesPart {
        gap: 130px;
    }

}

@media(max-width:800px) {
    #servicesPart {
        gap: 70px;
    }

}

@media(max-width:700px) {
    #servicesPart {
        gap: 60px;
    }

}

@media(max-width:600px) {
    #servicesPart {
        gap: 60px;
    }

    #rightPart-wrapper {
        height: 500px;
    }

}

@media(max-width:500px) {
    #ctaServices {
        width: 160px;
        height: 40px;
    }

    #rightPart-wrapper {
        height: 450px;
    }
}

@media(max-width:400px) {
    #ctaServices {
        width: 130px;
        height: 35px;
    }

    #rightPart-wrapper {
        height: 400px;
    }

    #rightText h2 {
        font-size: 1.3rem;
    }

    #rightText p {
        font-size: 0.9rem;
    }
}

@media(max-width:400px) {
    #ctaServices {
        width: 140px;
        height: 30px;
    }

    #rightPart-wrapper {
        height: 380px;
    }

    #rightText h2 {
        font-size: 1.2rem;
    }

    #rightText p {
        font-size: 0.8rem;
    }
}